body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
}
header h1 {
  background-color: #337ab7;
  color: white;
  padding: 20px;
  margin: -20px;
}
header h4 {
  margin-top: 32px;
  color: cornflowerblue;
}
header p {
  margin-top: -10px;
  font-size: small;
  color: cadetblue;
}
label {
  text-align: center;
  font-weight: bolder;
}
.inputaSection {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
#squareSide {
  margin-top: 8px;
  outline: none;
  border-radius: 5px;
  border: solid #000000;
  padding: 7px;
}
#squareSide:focus {
  border: solid #337ab7;
}
.button {
  text-align: center;
}
button {
  background-color: deepskyblue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
button:hover {
  background-color: darkslateblue;
}
button:active {
  background-color: blueviolet;
  transform: translateY(2px);
}
